---
layout: default
---

{% include galheader.html %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="block">

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    <h1>{{ gallery.description }}</h1>
    <ol>
    {% for image in gallery.images %}
      <li>
	{{ image.text }}<br>
        <a href="{{ site.baseurl }}{{ gallery.imgfolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
          <img src="{{ site.baseurl }}{{ gallery.imgfolder }}/thumbs/{{ image.thumb }}">
        </a>
      </li>
    {% endfor %}
    </ol>
  {% endif %}
{% endfor %}

</div>
</div>
</div>
</div>

{% include galfooter.html %}
